:root {
    --color-main     : #019945;
    --color-main50   : #F0F5F0;
    --color-main100  : #DBE5DB;
    --color-main200  : #638763;
    --color-main300  : #697870;
    --color-main900  : #1D7243;
    --color-gradient : linear-gradient(115deg, #18AD5B, #4ED98C);

    --color-red      : #E54E53;
    --color-red50    : #FFEFEF;
    --color-orange   : #FF8400;
    --color-orange50 : #FFEFDE;
    --color-blue     : #2796ED;
    --color-blue50   : #E4F3FF;
    --color-purple   : #B340FF;
    --color-purple50 : #F4E7FF;

    --color-gray100  : #FAFAFA;
    --color-gray200  : #F4F4F4;
    --color-gray300  : #F0F0F0;
    --color-gray400  : #E0E4EA;
    --color-gray800  : #888888;

    --color-black    : #333333;
    --color-black900 : #000000;
    --color-white    : #FFFFFF;
}